
@using MySql.Data.MySqlClient
@using System.Configuration;
@helper ProdukteDetail(string id)
{


MySqlConnection con = null;
try
{
    using (con = new MySqlConnection(ConfigurationManager.ConnectionStrings["connstring"].ConnectionString))
    {
        string message = Request.QueryString["id"];
        int number = Int32.Parse(message);

        con.Open();


        string query = "SELECT mahl.Name,mahl.ID,mahl.Vorrat,mahl.Beschreibung,mahl.Kategorie,mxb.ID,mxb.Bilder,mxb.Mahlzeiten,bild.ID,bild.`Alt-Text`,bild.Titel,bild.`Binärdaten`,preis.Gastpreis,preis.MahlzeitenID FROM Mahlzeiten mahl JOIN MahlzeitenXBilder mxb ON mahl.ID = mxb.Mahlzeiten JOIN Bilder bild ON bild.ID = mxb.Bilder JOIN preise preis ON preis.MahlzeitenID = mahl.ID WHERE mahl.ID = " + number + ";";

        MySqlCommand command = new MySqlCommand(query, con);

        MySqlDataReader reader = command.ExecuteReader();

        reader.Read();
        var base64 = Convert.ToBase64String((byte[])reader["Binärdaten"]);
        var imgSrc = String.Format("data:image/gif;base64,{0}", base64);

        <div class="row">
            <div class="offset-3 col-6">
                <h1>
                    Details für @reader["Name"]
                </h1>
            </div>
            <div class="col-3">
                <!--<h2 style="text-align:right">
                    <b>Gast</b>-Preis
                </h2>-->
            </div>
        </div>

        <div class="row">
            <div class="col-3">
                @LoginHelper.LoginIndex()
                <!--<fieldset class="border align-content-center">
                    <legend class="scheduler-border">Login</legend>
                    <div class="container center_div">
                        <input type="text" placeholder="Benutzer">
                        <input type="password" placeholder="password">
                        <a href="#"><u>Anmelden</u></a>
                    </div>
                </fieldset>-->
            </div>
            <div class="col-6">
                <!--<div class="card" style="width: 34rem;">-->
                <div class="card">
                    <img class="card-img-top" src="@imgSrc" alt="@reader["Alt-text"]">
                </div>
            </div>

            <div class="col-3">
                @Preis(number)
                <!--<h2 style="text-align:right">reader["Gastpreis"] €</h2>-->
                <button type="button" style="align-self:auto"><i class="fas fa-utensils"></i>Vorbestellen</button>
            </div>

        </div>
        <div class="row">
            <div class="col-3">
                @if (Session["role"] == null)
                {
                    <p>Melden Sie sich jetzt an, um die wirklich viel günstigeren Preise für Mitarbeiter oder Studenten zu sehen.</p>
                }
            </div>
            <div class="col-6">
                <div class="tabs">
                    <div class="tab ">
                        <input type="radio" id="tab-1" name="tab-group-1" checked>
                        <label for="tab-1">Beschreibung</label>
                        <div class="content">
                            <p> @reader["Beschreibung"]</p>
                        </div>
                    </div>
                    <div class="tab">
                        <input type="radio" id="tab-2" name="tab-group-1">
                        <label for="tab-2">Zutaten</label>
                        <div class="content">
                            <p>Kichererbsen , Sesam</p>
                        </div>
                    </div>
                    <div class="tab">
                        <input type="radio" id="tab-3" name="tab-group-1">
                        <label for="tab-3">Bewertungen</label>
                        <div class="content">
                            <p>7 von 10 Sternen</p>
                        </div>
                    </div>
                </div>
            </div>
            <!--  <div class="col-3">
                <form action="http://bc5.m2c-lab.fh-aachen.de/form.php" method="post">
                    <textarea placeholder="Bemerkung" name="bemerkung"></textarea>
                    <input type="text" name="benutzer" placeholder="Name">
                    <input type="number" name="bewertung" placeholder="5" min="1" max="5">
                    <input type="hidden" name="matrikel" value="3033858">
                    <input type="hidden" name="kontrolle" value="dor" />
                    <button type="submit" name="action">Abschicken</button>
                </form>
            </div>
              -->
        </div>

        con.Close();
    }

}
catch (Exception ex)
{
    {

        if (con != null)
        {
            con.Close();
        }
    }
      <p class="danger">
            <br />404 Produkt not found.
        </p>
        <p class="danger">
            <br />@ex.Message
        </p>
        <meta http-equiv="refresh" content="3;url=/M2Git/Start.cshtml" />

            }

}

@helper Preis(int id)
{
MySqlConnection verbinden = new MySqlConnection(ConfigurationManager.ConnectionStrings["connstring"].ConnectionString);

verbinden.Open();

string query = @"SELECT Gastpreis, Studentpreis, `MA-Preis` FROM preise WHERE MahlzeitenID = @ID";

MySqlCommand command = new MySqlCommand(query, verbinden);

command.Parameters.AddWithValue("ID", id);


MySqlDataReader reader = command.ExecuteReader();


if (reader.Read())
{
    if (Session["role"] != null)
    {
        if (Session["role"].ToString() == "Student")
        {
                <h4>Studentpreis @reader["Studentpreis"]€</h4>
        }
        else if (Session["role"].ToString() == "Gast")
        {
                <h4>Gastpreis @reader["Gastpreis"]€</h4>
        }

        else if (Session["role"].ToString() == "Mitarbeiter")
        {
                <h4>Mitarbeiterpreis @reader["MA-Preis"]€</h4>
        }
    }
    else
    {
            <h4>Gastpreis @reader["Gastpreis"]€</h4>
    }

}

verbinden.Close();
}